body {
    background: darkgoldenrod;
    text-align: center;
    color: rgb(143, 188, 233);
    text-decoration: solid, black;
    font-family: 'Futura', 'Univers', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


